<h1><%= @instrument.name %></h1>
<h2><%= @instrument.brand %></h2>

<ul><% @instrument.artists.each do |artist| %>
    <li><a href="/artists/<%= artist.id %>"><%= artist.name %></a></li>
    <% end %>
</ul>