<h1>Create new artist</h1>

<form method="POST" action="/artists">
    <input type="text" placeholder="Name" name="name">
    <input type="number" placeholder="Age" name="age">
    <input type="text" placeholder="Bio" name="bio">
    <input type="submit">
</form>