<h1>A Star is Born</h1>
<form method="POST" action="/artists">
  <label for="artist_name">Name: <input type="text" name="artist[name]" id="artist_name"></label>
  <label for="artist_age">Age: <input type="number" name="artist[age]" id="artist_age"></label>
  <label for="artist_bio">Bio: <input type="text" name="artist[bio]" id="artist_bio"></label>
  <input type="submit" value="Submit!">
</form>
