<h1>Create New Artist</h1>

<form method="POST" action="/artists">
    <p>Name: <input type="text" name="name"></p>
    <p>Age: <input type="number" name="age"></p>
    <p>Bio: <input type="text" name="bio"></p>
    <input type="submit">
</form>