<form action="/artists" method="post">
  <center>

  <h3>Artist Name</h3>
  <input type="text" name="name">

  <h3>Artist age</h3>
  <input type="integer" name="age">

  <h3>Artist bio</h3>
  <input type="text" name="bio">

  <br>
  <input type="submit"  value="SUBMIT!!!!">

</form>
</center>
