<h1>Create an Artists</h1>
<form method= "POST" action="/artists">
    <label for= "a_name">NAME</label>
    <input type="text" name="artist[name]" id="a_name">

    <label for= "a_age">AGE</label>
    <input type="number" name="artist[age]" id="a_age">

     <label for= "a_bio">Bio</label>
    <input type="text" name="artist[bio]" id="a_bio">

    <input type="submit" name="submit" value="Create Artist">

    </form>


