<h1>Enter a new artist</h1>

<form method="POST" action="/artists">
    <input type="text" name="name"/>
    <input type="integer" name="age"/>
    <input type="text" name="bio"/>
    <input type="submit" id="submit"/>
</form>