<center>
<marquee>
  <img src="http://24.media.tumblr.com/e6962be7e82fab28086b4e8ffd58c3cc/tumblr_ms4gfv79aF1rnci9zo1_500.gif" alt="" >
</marquee>


<h1>Jams - An application for all your music needs!</h1>
<a href="/artists"> CLICK HERE TO VIEW ALL ARTISTS </a>
</center>
